// Dividers
// Styles for dividers
// -------------------------------------------------------------------

.divider--yellow {
  background: $yellow;
  width: 60px;
  height: 2px;
  margin: 0.5em auto;
}