// Filters
// All styles used to lay out the brewery filters
// -------------------------------------------------------------------

.filters-container {
  background: #F4F2F6;
  padding: $padding;
  border-radius: 4px;
  font-family: $display;
  max-width: 90vw;
  margin: 0 auto;

  .filter-text {
    color: $grey-mid-light;
    font-size: 1.5rem;
    padding: 0 0 $padding 0;
    display: block;
    font-weight: 500;
    display: block;
  }

  .day, .hour {
    display: flex;
    align-items: center;
    padding: $padding-mid 0;

    .filter-text {
      display: inline-block;
      width: 24%;
      padding: 0;
    }

    .ember-power-select-trigger {
      display: inline-block !important;
      width: 74%;
      float: right;
    }
  }

  .hour {
    padding: 0 0 $padding 0;
  }
}

.results-count {
  padding: $padding 0 0;
  text-align: center;

  p {
    font-style: italic;
    color: $grey-mid-light;
    text-align: center;
  }
}

@media (min-width: $mid-break) {
  //.filters-container {
  //  .location {
  //    display: flex;
  //    align-items: center;
  //
  //    .filter-text {
  //      display: inline-block;
  //      width: 40%;
  //      padding: 0;
  //    }
  //
  //    .ember-power-select-trigger {
  //      display: inline-block !important;
  //      width: 58%;
  //      float: right !important;
  //    }
  //  }
  //
  //  .day {
  //
  //    .filter-text {
  //      width: 40%;
  //    }
  //    .ember-power-select-trigger {
  //      display: inline-block !important;
  //      width: 58%;
  //      float: right;
  //    }
  //  }
  //}
}
