<div class="content">
  <div id="sidebar">
    <header class="header cf" role="banner">
      <div class="logo"></div>
      <p class="small">All the Charleston breweries</p>
    </header>
  </div>

  <main class="main" role="main">
    {{outlet}}
    <!-- / Content Section -->
  </main>
</div>

<footer class="footer cf" role="contentinfo">

</footer>

